.gold-color {
    color: rgb(143, 130, 56);
}

.tabs .tab a {
    color: black;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: black;
}

.off-white-background {
    background-color: rgb(233, 233, 233);
}

.white {
    color: white;
}

.fas {
    color: rgb(0, 128, 128);

}

.nav-bars-color {
    color: white;
}

p {
    font-size: 22px;
    color: white;
}

.visible-text {
    font-size: 36px;
    color: teal;
    background-color: #191818 ;
    padding: 10px;
    border-radius: 10px;
}

ul li {
    color: rgb(240, 30, 30);
    font-size: 18px;
}



.brand-logo {
    margin-left: 30px;
}

.space-btn {
    margin-bottom: 20px;
}

.margin-20px {
    margin-bottom: 20px;
}

.icon-img {
    font-size: 40px;
}

.icon-img i {
    padding: 20px;
}

td i {
    font-size: 25px;
}

.profile {
    border-radius: 50%;
}

.profile-img {
    font-size: 100px;
    margin: 30px;
}

#extraTable {
    display:  none;
}

#extraMethodTable {
    display: none;
}

.panel {
    margin-top: 40px;
    border-radius: 20px;
}