p {
    font-size: 22px;
}

.brand-logo {
    margin-left: 30px;
}

.space-btn {
    margin-bottom: 20px;
}

.margin-20px {
    margin-bottom: 20px;
}

.icon-img {
    font-size: 40px;
}

.icon-img i {
    padding: 20px;
}

.profile {
    border-radius: 50%;
}