{%  extends  "base.html" %}

{% block content %}

<div id="icon-heading" class="center-align"><i class="fas fa-users" aria-label="account icon"></i></div>

<div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
            <div class="row">
                <div class="col s12 m12 l10 offset-l1">
                    <!-- tabs for sign in and create accounts-->
                    <ul class="tabs col m12">
                        <li class="tab col s2 m4 l6"><a class="active" href="#register">Create Account</a></li>
                        <li class="tab col s2 m4 l6"><a href="#test-swipe-2">Sign In</a></li>
                    </ul>
                    <!-- Card 1 Create Account-->
                    <div id="register" class="col s12">
                        <div class="card-content">
                            <form method="POST" action="{{ url_for('new_account') }}">
                                <span class="card-title center-align">Register for an account</span>
                                <div class="row">
                                    <!-- First name-->
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-edit prefix"></i>
                                        <input id="first_name" type="text" aria-label="First name">
                                        <label for="first_name">First Name</label>
                                    </div>
                                    <div class="row">
                                        <!-- Last name-->
                                        <div class="input-field col s12">
                                            <i class="fas fa-user-edit prefix"></i>
                                            <input id="last_name" type="text" aria-label="Last name">
                                            <label for="last_name">Last Name</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Username-->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-edit prefix"></i>
                                        <input id="username" name="username" type="text" minlength="5" maxlength="15"
                                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" aria-label="username" required>
                                        <label for="username">Username</label>
                                    </div>
                                </div>
                                <!-- Password-->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-lock prefix"></i>
                                        <input id="password" name="password" type="password" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate password" aria-label="password"
                                            required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <!-- Confirm Password-->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-lock prefix"></i>
                                        <input id="confirmPassword" name="password" type="password" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate password" aria-label="confirm password"
                                            required>
                                        <label for="confirmPassword">Confirm Password</label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" onclick="showPassword()" aria-label="toggle to show password">
                                            <span>Show Password's</span>
                                        </label>
                                    </div>
                                </div>
                                <!-- Submit create account button-->
                                <div class="row">
                                    <button type="submit" onclick="return Validate()"
                                        class="col s12 m10 offset-m1 l8 offset-l2 btn-large teal text-shadow">
                                        Sign Up

                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Card 2 login -->
                    <div id="test-swipe-2" class="col s12">
                        <div class="card-content">
                            <form method="POST" action="{{ url_for('login') }}">
                                <span class="card-title center-align">Log In</span>
                                <!-- Username-->
                                <div class="row">

                                    <div class="input-field col s12">
                                        <i class="fas fa-user-circle prefix"></i>
                                        <input id="username-enter" name="username" type="text" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" aria-label="username" required>
                                        <label for="username-enter">Username</label>
                                    </div>
                                </div>
                                <!-- Password-->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-lock prefix"></i>
                                        <input id="password_enter" name="password" type="password" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" aria-label="password" required>
                                        <label for="password_enter">Password</label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" onclick="loginPassword()" aria-label="toggle password">
                                            <span>Show Password's</span>
                                        </label>
                                    </div>
                                </div>
                                <!-- Sign In Button-->
                                <div class="row">
                                    <button type="submit"
                                        class="col s12 m10 offset-m1 l8 offset-l2 btn-large teal text-shadow">
                                        Sign In
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}