{%  extends  "base.html" %}

{% block content %}

<h3 class="gold-color center-align">Add Recipe</h3>

<div class="row">
  <div class="col s10 m8 lighten-5 offset-s1  offset-m2 card-color">
    <div class="row">
      <div class="col s10 offset-m1">
        <form method="POST" action="{{ url_for('add_recipe') }}">
          <!-- category selection -->
          <br>
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-bookmark prefix"></i>
              <select id="meal_course" name="meal_course" class="validate" required>
                <option value="" disabled selected>Choose your option</option>
                {% for course in courses %}
                <option value="{{ course.meal_course }}">{{ course.meal_course }}</option>
                {% endfor %}
              </select>
              <label for="meal_course">Type of Dish</label>
            </div>
          </div>
          <!-- Recipe name-->
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-utensils prefix"></i>
              <input id="recipe_name" name="recipe_name" type="text" class="validate" minlength="4" maxlength="50" patten="[a-zA-Z][a-zA-Z0-9-_]" required>
              <label for="recipe_name">Name of Receipe</label>
            </div>
          </div>
          <!-- Image -->
          <div class="row">
            <p class="black-text">Find a photo on the internet and Copy and Paste the URL adress here</p>
            <div class="input-field col s12">
              <i class="fas fa-image prefix"></i>
              <input id="img" name="img" type="url" class="validate" minlength="5" maxlength="100" patten="[(http(s)?):\/\/(www\.)?\w-/=#%&\.\?]{2,}\.[a-z]{2,}([\w-/=#%&\.\?]*)" required>
              <label for="img">Image</label>
            </div>
          </div>
          <!-- Description-->
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-comment-dots prefix"></i>
              <textarea id="description" name="description" text="text" class="materialize-textarea" minlength="1" maxlength="300" patten="^[a-zA-Z]$" required></textarea>
              <label for="description">Description</label>
            </div>
          </div>
          <!-- Ingredients-->
          <div class="row">
            <table id="ingredientsRow">
              <div class="row">
                <div class="col s10">
                  <tbody>
                    <tr>
                      <td id="col0" class="input-field">
                        <i class="fas fa-clipboard-list prefix"></i>
                        <input id="ingredients" name="ingredients" type="text" class="validate" minlength="5" maxlength="50" patten="[a-zA-Z0-9]" required>
                        <label for="ingredients">Ingredients</label>
                      </td>
                    </tr>
                  </tbody>
                </div>
              </div>
            </table>
            <!-- Btn to add and delete added Ingredients inputs -->
            <div class="row center-align">
              <div class="col s12">
                <p class="black-text">Click here to add/remove Ingredients to the list</p>
                <input type="button" name="add" id="add" value="Add" onclick="addRow()"
                  class="btn teal white-text margin-20px panel">
                <input type="button" name="remove" id="remove" value="Delete" onclick="deleteRow()"
                  class="btn teal white-text darken-text-2 margin-20px panel">
              </div>
            </div>
          </div>
          <!-- Method try -->
          <div class="row">
            <table id="methodRow">
              <div class="row">
                <div class="col s10">
                  <tbody>
                    <tr>
                      <td id="column0" class="input-field">
                        <i class="fas fa-book-reader prefix"></i>
                        <textarea id="method" name="method" text="text" class="materialize-textarea" minlength="5" maxlength="300" patten="[a-zA-Z0-9]" required ></textarea>
                        <label for="method">Method</label>
                      </td>
                    </tr>
                  </tbody>
                </div>
              </div>
            </table>
            <!-- Btn to add and delete added Method inputs -->
            <div class="row center-align">
              <div class="col s12">
                <p class="black-text">Click here to add/remove Method to the list</p>
                <input type="button" name="addMethod" id="addMethod" value="Add" onclick="addMethodRow()"
                  class="btn teal white-text darken-text-2 margin-20px panel">
                <input type="button" name="removeMethod" id="removeMethod" value="Delete" onclick="removeMethodRow()"
                  class="btn teal white-text darken-text-2 margin-20px panel">
              </div>
            </div>
          </div>
          <!-- Lower half info -->
          <div class="row">
            <div class="col s12">

          <!-- Cooking time-->
          <div class="row">
            <div class="input-field col s10 offset-s1 m10 offset-m1 l5 offset-l1">
              <i class="fas fa-clock prefix"></i>
              <input id="cooking_time" name="cooking_time" type="number" class="validate" pattern="^[0-9]" minlength="1" maxlength="2">
              <label for="cooking_time">Cooking time</label>
            </div>
            <!-- Preparation time-->
              <div class="input-field col s10 offset-s1 m10 offset-m1 l5">
                <i class="fas fa-hourglass-end prefix"></i>
                <input id="prep_time" name="prep_time" type="number" class="validate" minlength="1" maxlength="2" pattern="^[0-9]">
                <label for="prep_time">Prep time</label>
              </div>
          </div>

              <!-- Number of Serving-->
              <div class="row">
                <div class="input-field col s10 offset-s1 m5 offset-m1">
                  <i class="fas fa-user-plus prefix"></i>
                  <input id="servings" name="servings" type="number" class="validate" minlength="1" maxlength="2">
                  <label for="servings">Servings</label>
                </div>
              <!-- Recipe create by-->
                <div class="input-field col s10 offset-s1 m5">
                  <i class="fas fa-users prefix"></i>
                  <input id="create_by" name="create_by" type="text" class="validate" minlength="5" maxlength="30">
                  <label for="create_by">Create by</label>
                </div>
              </div>

                <!-- Day recipe added on-->
                <div class="row">
                  <div class="input-field col s10 offset-s1">
                    <i class="fas fa-calendar-alt prefix"></i>
                    <input id="day_added" name="day_added" type="text" name="day_added" class="datepicker">
                    <label for="day_added">Day added</label>
                  </div>
                </div>
                <!-- submit button -->
                <div class="row center-align">
                  <div class="col s12">
                    <button type="submit" class="btn waves-effect teal white-text darken-text-2 panel" id="save"
                      href="{{ url_for('recipes') }}">
                      Add Recipe<i class="fas fa-plus-square white-text right"></i>
                    </button>
                  </div>
                </div>
              </div>
    </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row center-align">
  <div class="col s12">
    <a class="btn waves-effect black gold-color darken-text-2 margin-20px panel" href="{{ url_for('recipes') }}">Back to
      Recipe</a>
    {% if session.user %}
    <a class="btn waves-effect black gold-color darken-text-2 margin-20px panel"
      href="{{ url_for('profile', username=session['user']) }}">Return to Profile</a>
    {% endif %}
  </div>
</div>


{% endblock %}