{%  extends  "base.html" %}

{% block content %}
    <h2> Delete Recipe </h2>

    <ul class="collapsible popout">
        <li>
          <div class="collapsible-header">super spinach pancakes</div>
          <div class="collapsible-body"><span>“Colourful, healthy and, most importantly, fun, 
              these pancakes work just as well for dinner as they do for a weekend brunch. 
              Save any leftover batter in a covered bowl in the fridge and they'll keep for a 
              breakfast treat later in the week. And get creative with your toppings – the 
              sky’s the limit. Enjoy! ”</span></div>
        </li>
        <li>
            <div class="collapsible-header">Hollandaise sauce</div>
            <div class="collapsible-body"><span>“Colourful, healthy and, most importantly, fun, 
                these pancakes work just as well for dinner as they do for a weekend brunch. 
                Save any leftover batter in a covered bowl in the fridge and they'll keep for a 
                breakfast treat later in the week. And get creative with your toppings – the 
                sky’s the limit. Enjoy! ”</span></div>
        </li>
        <li>
            <div class="collapsible-header">Three</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
    

{% endblock %}