{%  extends  "base.html" %}

{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="https://lorempixel.com/800/400/food/1"></div>
</div>
<div class="section teal text-darken-1">
    <div class="row container">
        <div class="col m8 offset-m2 center-align">
            <h1 class="header center-align black-text">MPT Recipes</h1>
            <h3 class="header center-align gold-color">HEALTHY MEALS AND FITNESS RECIPES</h3>
            <p class="white-text text-darken-3 lighten-3">Here you will find delicious healthy dishes for all you needs.
                Recipes that don't sacrifice on flavor stay true to your health goals and that the whole family can
                enjoy.</p>
            <br>
            <div class="icon-img gold-color">
                <i class="fas fa-apple-alt"></i><i class="fas fa-heartbeat"></i><i class="fas fa-brain"></i>
            </div>
            <p class="white-text text-darken-3 lighten-3">Whole food recipes that nourish your body and your tastebuds.
            </p>
            
            <p class="white-text text-darken-3 lighten-3">Maintaining a healthy diet at home can be a challenge for many
                families.
                MPT Recipes has set up a site of members to share, all kinds of dishes, desserts and more that double as
                delicious and nutritious
                options for your family.</p>
            <br>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="https://lorempixel.com/800/400/food/3">
    </div>
</div>
<!-- Get Inspired -->
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s8 offset-s2 teal panel">
                
                <h2 class="center-align">Get Inspired</h2>

                <h3>As a Vistor</h3>
                <ul>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Find new
                        recipe to add spice to your meal times.</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Ideas from
                        Members to inspire you.</li>
                </ul>
                <div class="row">
                    <div class="col m8">
                        <h3>As an Member</h3>
                        <p>As a member you can help someone else with your Creativity and Knowledge.</p>
                        <ul>
                            <li><span class="fa-li"><i class="fas fa-check list-icon"></i></span>You
                                can add recipe to the database to share your
                                favorite recipes.</li>
                            <li><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Have
                                a place to keep your recipe.</li>
                            <li><span class="fa-li"><i class="fas fa-check list-icon"></i></span>Have
                                the ability to change and improve your recipe at the touch of a button</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}