{%  extends  "base.html" %}

{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="https://lorempixel.com/800/400/food/1"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header center-align">MPT Recipes</h2>
        <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
            consequuntur voluptatibus enim quia nam repellat quae architecto eius, in temporibus et optio natus ea
            minima libero nulla autem, nobis odio sequi quas labore. Praesentium eius quia autem odio, officia impedit
            ratione eos fugit deserunt quasi ipsa labore delectus rerum aliquid itaque in accusamus perferendis ullam
            adipisci. Optio recusandae ipsam cumque saepe quo rerum distinctio sequi, nihil rem maxime beatae explicabo
            eos laborum cum quasi excepturi sunt, nobis quae repellendus, nostrum molestiae. Tempora alias excepturi,
            quasi fugit blanditiis mollitia nemo quisquam cupiditate repudiandae dignissimos ullam odio aliquid quis
            debitis eligendi omnis repellat nostrum enim quibusdam fuga sed ut sit vero dicta. Libero, iusto. Modi eos
            illo quibusdam distinctio accusamus, possimus iste facere harum autem hic velit alias dignissimos eius
            debitis eveniet!</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="https://lorempixel.com/800/400/food/3"></div>
</div>
    
        
    
{% endblock %}