{%  extends  "base.html" %}

{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="https://lorempixel.com/800/400/food/1"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col m8 offset-m2 center-align">
        <h2 class="header center-align">MPT Recipes</h2>
        <h4 class="header center-align text-darken-3 lighten-3">HEALTHY MEALS AND FITNESS RECIPES</h4>
        <p class="grey-text text-darken-3 lighten-3">Here you will find delicious healthy dishes for all you needs. 
            Recipes that don't sacrifice on flavor stay true to your health goals and that the whole family can enjoy.</p>
            <br>
            <div class="icon-img">
                <i class="fas fa-apple-alt"></i><i class="fas fa-heartbeat"></i><i class="fas fa-brain"></i>
            </div>
            <p class="grey-text text-darken-3 lighten-3">Whole food recipes that nourish your body and your tastebuds.</p>
            <br>
            <p class="grey-text text-darken-3 lighten-3">Maintaining a healthy diet at home can be a challenge for many families. 
            MPT Recipes has set up a site of members to share, all kinds of dishes, desserts and more that double as delicious and nutritious 
            options for your family.</p>
            <br>
        </div>
        </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="https://lorempixel.com/800/400/food/3"></div>
</div>



{% endblock %}