{%  extends  "base.html" %}

{% block content %}

<h2 class="center-align">{{ username }}'s Dashbroad</h2>

<div class="row">
    <div class="col s10 m8 offset-m2">
        <div class="card">
            <!-- Profile main card page-->
            <div class="card-content">
                <h3 class="card-title activator center-align">Dashbroad<i class="fas fa-user-cog right"></i></h3>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatibus possimus eius
                        incidunt mollitia distinctio,
                        reprehenderit dolorem assumenda accusantium, nihil facilis nemo at sed necessitatibus
                        temporibus, cupiditate molestiae
                        unde commodi perspiciatis doloribus? Aut omnis placeat dolorem, quia repellat et itaque?</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatibus possimus eius
                        incidunt mollitia distinctio,
                        reprehenderit dolorem assumenda accusantium, nihil facilis nemo at sed necessitatibus
                        temporibus, cupiditate molestiae
                        unde commodi perspiciatis doloribus? Aut omnis placeat dolorem, quia repellat et itaque?</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatibus possimus eius
                        incidunt mollitia distinctio,
                        reprehenderit dolorem assumenda accusantium, nihil facilis nemo at sed necessitatibus
                        temporibus, cupiditate molestiae
                        unde commodi perspiciatis doloribus? Aut omnis placeat dolorem, quia repellat et itaque?</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatibus
                        possimus eius
                        incidunt mollitia distinctio,
                        reprehenderit dolorem assumenda accusantium, nihil facilis nemo at sed
                        necessitatibus
                        temporibus, cupiditate molestiae
                        unde commodi perspiciatis doloribus? Aut omnis placeat dolorem, quia repellat et
                        itaque?</p>
                </div>
                <!-- Tabs for adding, updating and delete recipe-->
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="disabled"><a class="active" href="#test3"></a></li>
                            <li class="tab col s4"><a href="#test1">Create recipe</a></li>
                            <li class="tab col s4"><a href="#test2">Update recipe</a></li>
                            <li class="tab col s4"><a href="#test3">Delete recipe</a></li>
                        </ul>
                        <div class="row">
                            <hr>
                        </div>
                        <!-- Button of each action -->
                    </div>
                    <div id="test1" class="col s12 center-align">
                        <h5>Click the button to <span>ADD</span> a recipe to the database</h5>
                        <a class="btn waves-effect white grey-text darken-text-2 left"
                            href="{{ url_for('add_recipe') }}">button</a>
                    </div>
                    <div id="test2" class="col s12 center-align">
                        <h5>Click the button to <span>UPDATE</span> a recipe to the database</h5>
                        <a class="btn waves-effect white grey-text darken-text-2 center-align"
                            href="{{ url_for('edit_recipe') }}">button</a>
                    </div>
                    <div id="test3" class="col s12 center-align">
                        <h5>Click the button to <span>DELETE</span> a recipe to the database</h5>
                        <a class="btn waves-effect white grey-text darken-text-2 right"
                            href="{{ url_for('delete_recipe') }}">button</a>
                    </div>
                </div>
            </div>


            <!-- Edit card tab for settings slide up-->
            <div class="card-reveal">
                
                <span class="card-title grey-text text-darken-4">Edit Settings<i
                        class="fas fa-times-circle right"></i></span>
                <div class="row">
                    <!-- First name-->
                    <div class="input-field col s6">
                        <i class="fas fa-user-edit prefix"></i>
                        <input id="first_name" name="first_name" type="text" class="validate" value="{{ username.first_name }}">
                        <label for="first_name">First Name</label>
                    </div>
                    <!-- Last name-->
                    <div class="input-field col s6">
                        <input id="last_name" name="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <!-- Weight and height-->
                <div class="row">
                    <div class="input-field col s6">
                        <i class="fas fa-weight prefix"></i>
                        <input id="weight" name="weight" type="text" class="validate">
                        <label for="weight">Weight</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="fas fa-ruler prefix"></i>
                        <input id="height" name="height" type="text" class="validate">
                        <label for="height">Height</label>
                    </div>
                </div>
                <!-- Day of Birthday-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix"></i>
                        <input id="birthdate" name="birthdate" type="text" class="datepicker validate" required>
                        <label for="birthdate">birthdate</label>
                    </div>
                    <!-- Update profile button-->
                    <div class="row">
                        <button type="submit" class="col s4 offset-m4 btn-large light-blue darken-4 text-shadow">
                            Update <i class="fas fa-edit"></i>
                        </button>
                    </div>
                </div>
            
            </div>
        </div>
        
{% endblock %}