{%  extends  "base.html" %}

{% block content %}

<h3 class="gold-color center-align">Edit Recipe</h3>

<div class="row">
  <div class="col s10 m8 lighten-5 offset-s1  offset-m2 card-color">
    <div class="row">
      <div class="col s12">
        {% if session.user|lower == recipe.added_by|lower %}
        <form method="POST" action="{{ url_for('recipe_update', recipe_id=recipe._id) }}">
          <!-- category selection -->
          <div class="row">
            <div class="col s10 offset-s1">
              <br>
              <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-bookmark prefix"></i>
                  <select id="meal_course" name="meal_course" class="validate" aria-label="mutiple select" required>
                    <option value="" disabled>Choose your option</option>
                    {% for course in courses %}
                    {% if course.meal_course == recipe.meal_course %}
                    <option value="{{ course.meal_course }}" selected>{{ course.meal_course }}</option>
                    {% else %}
                    <option value="{{ course.meal_course }}">{{ course.meal_course }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  <label for="meal_course">Type of Dish</label>
                </div>
              </div>
              <!-- Recipe name-->
              <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-utensils prefix"></i>
                  <input id="recipe_name" name="recipe_name" type="text" class="validate" aria-label="recipe name" minlength="4" maxlength="50"
                    patten="[a-zA-Z][a-zA-Z0-9-_]" value="{{ recipe.recipe_name }}">
                  <label for="recipe_name">Name of Receipe</label>
                </div>
              </div>
              <!-- Image -->
              <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-image prefix"></i>
                  <input id="img" name="img" type="text" value="{{ recipe.img }}" class="validate" 
                  patten="[(http(s)?):\/\/(www\.)?\w-/=#%&\.\?]{2,}\.[a-z]{2,}([\w-/=#%&\.\?]*)" aria-label="image">
                  <label for="img">Image</label>
                  
                </div>
              </div>
              <!-- Description-->
              <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-comment-dots prefix"></i>
                  <textarea id="description" name="description" class="materialize-textarea" aria-label="description" minlength="1"
                    maxlength="300" patten="^[a-zA-Z]$">
                    {{- recipe.description -}}
                  </textarea>
                  <label for="description">Description</label>
                </div>
              </div>
              <!-- Ingredients table -->
              <div class="row">
                <div class="input-field col s12">
                  <div class="row">
                    <div class="col s12">
                      <table id="ingredientsTable">
                        <tr>
                          <td>
                            {% for ingredient in recipe.ingredients %}
                            <div class="row">
                              <div class="col s12 m8 offset-m1 input-field">
                                <i class="fas fa-clipboard-list prefix"></i>
                                <label for="ingredients">Ingredients</label>
                                <input id="ingredients" name="ingredients" type="text" class="validate" aria-label="ingredients" minlength="5"
                                  maxlength="50" patten="[a-zA-Z0-9]" value="{{- ingredient -}}">
                              </div>
                              <div class="col s12 m2 offset-m1">
                                <button onclick="rowDelete(this);"
                                  class="btn teal white-text darken-text-2 card">Delete</button>
                              </div>
                            </div>
                            {% endfor %}
                          <td>
                        </tr>
                      </table>
                      <div class="row">
                        <div class="col s12 m10 offset-m1 center-align">
                          <p class="black-text">Click here to add more ingredients to your recipe!</p>
                          <a type="button" class="btn waves-effect red white-text darken-text-2 card-style"
                            onclick="addExtraIngredients()">Add
                            Ingredients</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- To Add Ingredients -->
              <div class="row" id="extraTable">
                <table id="ingredientsRow" class="col s12">
                  <tbody>
                    <tr>
                      <td id="col0" class="input-field">
                        <i class="fas fa-clipboard-list prefix"></i>
                        <label for="ingredients1">Add Extra Ingredients</label>
                        <input id="ingredients1" name="ingredients" type="text" class="validate" aria-label="added ingredients" minlength="5"
                          maxlength="50" patten="[a-zA-Z0-9]">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row center-align">
                  <div class="col s10 offset-s1">
                    <input type="button" name="add" id="add" value="Add" aria-label="adding ingredient" onclick="addRow()"
                      class="btn teal white-text darken-text-2 margin-20px card">
                    <input type="button" name="remove" id="remove" value="Delete" aria-label="delete ingredient" onclick="deleteRow()"
                      class="btn teal white-text darken-text-2 margin-20px card">
                  </div>
                </div>
              </div>

              <!-- Method Try-->
              <div class="row">
                <div class="input-field col s12 m12">
                  <div class="row">
                    <div class="col s12">
                      <table id="methodTable">
                        <tr>
                          <td>
                            {% for m in recipe.method %}
                            <div id="methodTable" class="row">
                              <div class="col s12 m8  input-field">
                                <i class="fas fa-book-reader prefix"></i>
                                <label for="method">Method</label>
                                <textarea id="method" name="method" class="materialize-textarea text-space" aria-label="method" minlength="5"
                                  maxlength="300" patten="[a-zA-Z0-9]">
                                    {{- m -}}
                                  </textarea>
                              </div>
                              <div class="col s12 m2 offset-m2">
                                <button onclick="rowDelete(this);"
                                  class="btn teal white-text darken-text-2 card right">Delete</button>
                              </div>
                            </div>
                            {% endfor %}
                        </td>
                        </tr>
                      </table>
                      <div class="col s10 offset-s1 center-align">
                        <p class="black-text">Click here to add more Instructions!</p>
                        <a type="button" class="btn waves-effect red white-text darken-text-2 card-style margin-20px"
                          onclick="addExtraMethod()">Add
                          Method</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- To Add Extra Method -->
              <div class="row" id="extraMethodTable">
                <table id="methodRow">
                  <tbody>
                    <tr>
                      <td id="column0" class="input-field">
                        <i class="fas fa-book-reader prefix"></i>
                        <label for="method1">Add Method here!</label>
                        <textarea id="method1" name="method" class="materialize-textarea" aria-label="method" minlength="5"
                          maxlength="300" patten="[a-zA-Z0-9]"></textarea>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col s10 offset-s1">
                    <input type="button" name="addMethod" id="addMethod" value="Add" aria-label="adding method" onclick="addMethodRow()"
                      class="btn teal white-text darken-text-2 margin-20px card">
                    <input type="button" name="removeMethod" id="removeMethod" aria-label="delete method" value="Delete"
                      onclick="removeMethodRow()" class="btn teal white-text darken-text-2 margin-20px card"></div>
                </div>
              </div>

              <div class="row">
                <div class="col s12">
                  <!-- Cooking time-->
                  <div class="row">
                    <div class="input-field col s12 offset-s1 m6">
                      <i class="fas fa-clock prefix"></i>
                      <input id="cooking_time" name="cooking_time" type="number" aria-label="cooking time" value="{{ recipe.cooking_time }}"
                         class="validate">
                      <label for="cooking_time">Cooking time</label>
                    </div>

                    <!-- Preparation time-->
                    <div class="input-field col s12 m6">
                      <i class="fas fa-hourglass-end prefix"></i>
                      <input id="prep_time" name="prep_time" type="number" aria-label="preparation time" value="{{ recipe.prep_time }}"
                        class="validate">
                      <label for="prep_time">Prep time</label>
                    </div>
                  </div>

                  <!-- Number of Serving-->
                  <div class="row">
                    <div class="input-field col s12 m4">
                      <i class="fas fa-user-plus prefix"></i>
                      <input id="servings" name="servings" type="number" aria-label="serving" value="{{ recipe.servings }}" class="validate">
                      <label for="servings">Servings</label>
                    </div>

                    <!-- Recipe create by-->

                    <div class="input-field col s12 offset-s1 m8">
                      <i class="fas fa-users prefix"></i>
                      <input id="create_by" name="create_by" type="text" aria-label="create by" value="{{ recipe.create_by }}" minlength="5"
                        maxlength="30" patten="[a-zA-Z0-9]" class="validate">
                      <label for="create_by">Create by</label>
                    </div>
                  </div>

                  <!-- Day recipe added on-->
                  <div class="row">
                    <div class="input-field col  s12 m6 offset-m3">
                      <i class="fas fa-calendar-alt prefix"></i>
                      <input id="day_added1" name="day_added" type="text" name="day_added" aria-label="day recipe added on" value="{{ recipe.day_added }}"
                        class="datepicker valiadate">
                      <label for="day_added1">Day added</label>
                    </div>
                  </div>

                  <!-- submit button -->
                  <div class="row center">
                    <div class="col s12 center-align">
                      <button type="submit" onclick="return confirm('Press OK to edit this Recipe');"
                        class="btn waves-effect pulse teal white-text darken-text-2 card-style">
                        Edit Recipe
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        {% else: %}
        
      </div>
    </div>
    
    <h2 class="center-align">Prevent Access</h2>
    <div class="row center-align">
      <div class="col s12">
        <a class="btn waves-effect black gold-color darken-text-2 panel" href="{{ url_for('recipes') }}">Back
          to
          Recipe
        </a>
        {% if session.user %}
        <a class="btn waves-effect black gold-color darken-text-2 panel"
          href="{{ url_for('profile', username=session['user']) }}">Return to Profile</a>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>





{% endblock %}