{%  extends  "base.html" %}

{% block content %}

<h2 class="center-align gold-color"> {{ recipe.recipe_name.upper() }} </h2>

<!-- Name of Recipe -->
<div class="row">
    <div class="col s10 offset-s1 m10 offset-m1">
        <div class="card teal">
            <div class="col s12">
                <div class="row">
                    <div class="col s8 offset-s2 l6 offset-l3 photo-box">
                        <div class="card-image">
                            <img img src="{{ recipe.img }}" alt="Recipe photo">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Description -->
            <div class="card-content teal">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s10 offset-s1 m8 offset-m2">
                                <p>{{- recipe.description -}}</p>
                                <br>
                            </div>

                            <!-- All Recipe Timing Info -->
                            <div class="row center-align">
                                <div class="col s12">
                                    <p class="black-text">Cooking Time: {{ recipe.cooking_time }}</p>
                                    <p class="black-text">Prep Time: {{ recipe.prep_time }}</p>
                                    <p class="black-text">Servings: {{ recipe.servings }}</p>
                                    <div class="margin-t10">
                                        <span class="card-title white-text">By: {{ recipe.create_by }}</span>
                                    </div> 
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Ingredients / Method Tabs -->
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab teal "><a href="#ingredinets">INGREDIENTS</a></li>
                    <li class="tab teal gold-color"><a class="active" href="#method">METHOD</a></li>
                </ul>
            </div>

            <!-- Ingredients list -->
            <div class="card-content teal">
                <div id="ingredinets">
                    <div class="row center-align">
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                        <li>{{- ingredient -}}</li>
                        {% endfor %}
                    </ul>
                </div>
                </div>

                <!-- Method -->
                <div id="method">
                    <div class="row">
                        <div class="col s12">
                            <ul>

                                {% for m in recipe.method %}
                                <li class="gap-bottom">
                                    {{- m -}}
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <br>
                        <!-- Added Info -->
                        <div class="row center-align">
                            <span class="white-text">Date Recipe was added: {{ recipe.day_added }}</span>
                            <br>
                            <span class="white-text">Date Recipe was added: {{ recipe.added_by }}</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row center-align">
                <a class="btn waves-effect black gold-color darken-text-2 margin-20px card-style"
                    href="{{ url_for('recipes') }}">Back to Recipe</a>
                {% if session.user %}
                <a class="btn waves-effect black gold-color darken-text-2 margin-20px card-style"
                    href="{{ url_for('profile', username=session['user']) }}">Return to Profile</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}