{%  extends  "base.html" %}

{% block content %}

<h2 class="center-align"> {{ recipe.recipe_name.upper() }} </h2>


<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
        <div class="card teal panel">
            <div class="card-image">
                <img src="{{ recipe.img }}" alt="photo" class="image-responsive">
                <span class="card-title">By: {{ recipe.create_by }}</span>
            </div>
            <div class="card-content teal">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s10 offset-s1">
                                <p>{{- recipe.description -}}</p>
                            </div>
                            <div class="col s10 offset-s2">
                                <p>Cooking Time: {{ recipe.cooking_time }}</p>
                                <p>Prep Time: {{ recipe.prep_time }}</p>
                                <p>Servings: {{ recipe.servings }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab teal "><a href="#ingredinets">INGREDIENTS</a></li>
                    <li class="tab teal gold-color"><a class="active" href="#method">METHOD</a></li>
                </ul>
            </div>

            <div class="card-content teal">
                <div id="ingredinets">
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                        <li>{{- ingredient -}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="method">
                    <div class="row">
                        <div class="col s12">
                            <ul>
                                {% for m in recipe.method %}
                                <li>{{- m -}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <br>
                        <div class="row">
                            <span>Date Recipe was added: {{ recipe.day_added }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-align">
                <a class="btn waves-effect black gold-color darken-text-2 margin-20px panel"
                    href="{{ url_for('recipes') }}">Back to Recipe</a>
                {% if session.user %}
                <a class="btn waves-effect black gold-color darken-text-2 margin-20px panel"
                    href="{{ url_for('profile', username=session['user']) }}">Return to Profile</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}